{% extends "base.html" %}

{% block content %}
<h1>{% if "инж" in typet %}
    <div><img src="/static/img/img.png" alt="здесь должна была быть картинка, но не нашлась"></div>
    {% elif "космос" in typet %}
    <div><img src="/static/img/img2.png" alt="здесь должна была быть картинка, но не нашлась"></div>
    {% elif "лёт" in typet %}
    <div><img src="/static/img/img2.png" alt="здесь должна была быть картинка, но не нашлась"></div>
    {%else%}
    <div>Вас нет в списке</div>
    {% endif %}
</h1>
{% endblock %}